/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}
.testimonials {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

.micro-logo {
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background: url(micro-logo-mark.svg) #ffffff no-repeat;
  background-size: 60px 60px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}
.container-narrow > hr {
  margin: 10px 0;
}

/* Main features message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
p.lead {
    font-size: 35px;
}
.btn, .btn:focus {
  background-color: #3C92D1;
  border: none;
}
.btn:active, .btn:active:focus, .btn:target, .btn-success:active, .btn-success:active:focus, .btn-lg:active {
    background-color: #391A80;
}
.btn:hover {
  background-color: #2F3590;
}
/* .btn:active .btn:focus { */
/*     background-color: #2F3590; */
/* } */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting features content */
/* .features { */
/*   margin: 40px 0; */
/*   margin-top: 10px; */
/* } */
.heading {
    margin: 40px 0;
    margin-top: 0;
    margin-bottom: 0;
    color: #2F3590; 
}
.getting-involved {
    margin: 40px 0;
    margin-top: 10px;
}
.features p + h4 {
  margin-top: 28px;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #2F3590;
  border-radius: 1px;
}

.nav > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:hover {
    border-radius: 5px;
}

.nav > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #2F3590;
    color: #fff;
    border-radius: 5px;
}

